*****************************************************************
*                                                               *
* DRILL TAPE SUMMARY REPORT                                     *
*                                                               *
* F:\ENGENHARIA\PROJETOS\ELETRONICA\DRONE\V5\CONTROLADOR-1.MAX  *
* Tue Oct 04 10:37:24 2022                                      *
*                                                               *
*****************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      28       200      100                                                                                 
T2       340      28       200      100                                                                                 
T3       370      9        200      100                                                                                 
T4       420      33       200      100                                                                                 
T5       580      4        200      100                                                                                 
