*****************************************************************
*                                                               *
* DRILL TAPE SUMMARY REPORT                                     *
*                                                               *
* F:\ENGENHARIA\PROJETOS\ELETRONICA\DRONE\V5\CONTROLADOR-5.MAX  *
* Mon Oct 10 10:01:10 2022                                      *
*                                                               *
*****************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      26       200      100                                                                                 
T2       340      28       200      100                                                                                 
T3       370      6        200      100                                                                                 
T4       420      36       200      100                                                                                 
T5       580      8        200      100                                                                                 
